In [28]:
import pandas as pd

In [29]:
score_1 = 599
score_2 = 699
score_3 = 799

In [30]:
aa = ["knn"," kmean"," welcome"]

In [34]:
score = [score_1,score_1,score_3]

In [35]:
df = pd.DataFrame({'a' : aa,'b' : score})

In [36]:
df

          a    b
0       knn  599
1     kmean  599
2   welcome  799